<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Stream Replay
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <button class="btn btn-outline-success" onclick="location.reload(true)" type="button">
                <i class="fas fa-sync-alt"></i> Refresh
            </button>
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
        </ul>
    </div>
</nav>