<!DOCTYPE html>
<html>

<head>
    <title>Stream Replay - {{ channel }}/{{ track }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-video-css-defaults.jinja2" %}

    <script src="{{ url_for('static', filename='js/video.js', version=version) }}"></script>

</head>

<body>

    {% include "includes/live-video.jinja2" %}

    {% include "includes/js-all.jinja2" %}

</body>

</html>